@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
:root {
  --darker-pink: #f0a8bb;
  --lighter-pink: #f9dde0;
  --blue: #92b2ba;
  --bg: whitesmoke;
  --tag-footer-bg: #eeeeee;
  --tag-text: #777777;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
